.footer.grid
	.content.grid
		.menu
			h5 МЕНЮ
			ol
				li ГРАВНАЯ
				li НАШ ЗАЛ
				li ТРЕНЕРА
				li О НАС
				li ЦЕНЫ
		.colback
			h5 ЗАКАЗАТЬ ЗВОНОК
		.soc
			h5 МЫВ СОЦСЕТЯХ
	.copyright.grid
		.test
			p © all4site.com.ua &emsp;&emsp;&emsp;   Все права защищены 2018