.ourtreners.grid#ourtrener
	.content
		h2 НАШИ ТРЕНЕРЫ
		.carousel.center
			.carousel-item
				.img
					img(src="img/Без-имени-1.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 

			.carousel-item
				.img
					img(src="img/traner2-1.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 
			.carousel-item
				.img
					img(src="img/traner3-1.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 
			.carousel-item
				.img
					img(src="img/traner4-1.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 
