.ourtreners.grid#ourtreners
	.content
		h2 НАШИ ТРЕНЕРЫ
		.carousel.center
			.carousel-item
				img(src="img/traner1.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 

			.carousel-item
				img(src="img/traner2.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 
			.carousel-item
				img(src="img/traner3.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 
			.carousel-item
				img(src="img/traner4.jpg", alt="")
				p.
						это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал 
