.photo.grid#photo
	.img
		img(src="img/photo1.jpg", data-caption="Наши Тренажеры")
		a.btn-floating.waves-effect.test.modal-trigger.z-depth-3(href="#modal1")
		#modal1.modal.modal-close
			img(src="img/photo1.jpg")

	.img
		img(src="img/photo2.jpg", alt="")
		a.btn-floating.waves-effect.test.modal-trigger(href="#modal2")
		#modal2.modal.modal-close
			img(src="img/photo2.jpg")
	.img
		img(src="img/photo3.jpg", alt="")
		a.btn-floating.waves-effect.test.modal-trigger(href="#modal3")
		#modal3.modal.modal-close
			img(src="img/photo3.jpg")
	.img
		img(src="img/photo4.jpg", alt="")
		a.btn-floating.waves-effect.test.modal-trigger(href="#modal4")
		#modal4.modal.modal-close
			img(src="img/photo4.jpg")
	.img
		img(src="img/photo5.jpg", alt="")
		a.btn-floating.waves-effect.test.modal-trigger(href="#modal5")
		#modal5.modal.modal-close
			img(src="img/photo5.jpg")
	.img
		img(src="img/photo6.jpg", alt="")
		a.btn-floating.waves-effect.test.modal-trigger(href="#modal6")
		#modal6.modal.modal-close
			img(src="img/photo6.jpg")
