.photo.grid
	.img
		img(src="img/photo1.jpg", data-caption="Наши Тренажеры")
		a.btn-floating.waves-effect.test.modal-trigger.z-depth-3(href="#modal1")
		#modal1.modal.modal-close
			img(src="img/photo1.jpg")

	.img
		img(src="img/photo2.jpg", alt="")
		a.btn-floating.waves-effect.test.modal-trigger(href="#modal2")
		#modal2.modal.modal-close
			img(src="img/photo2.jpg")
	.img
		img(src="img/photo3.jpg", alt="")
	.img
		img(src="img/photo4.jpg", alt="")
	.img
		img(src="img/photo5.jpg", alt="")
	.img
		img(src="img/photo6.jpg", alt="")
