.price.grid
	h2 ЦЕНЫ
	.content.grid
		.card.z-depth-4.hoverable
			h6 ЛЕГКИЙ СТАРТ
			.fa.fa-flag
			h4 2000 грн/мес
			ol
				li Тренажерный зал
				li Басейн
				li Сауна
			.btn-large.waves-effect.waves-light.hoverable ЗАКАЗАТЬ
		.card.z-depth-4.hoverable
			h6 ЛЕГКИЙ СТАРТ
			.fa.fa-rocket
			h4 2000 грн/мес
			ol
				li Тренажерный зал
				li Басейн
				li Сауна
			.btn-large.waves-effect.waves-light.hoverable ЗАКАЗАТЬ
		.card.z-depth-4.hoverable
			h6 ЛЕГКИЙ СТАРТ
			.fa.fa-fire
			h4 2000 грн/мес
			ol
				li Тренажерный зал
				li Басейн
				li Сауна
			.btn-large.waves-effect.waves-light.hoverable ЗАКАЗАТЬ
		.card.z-depth-4.hoverable
			h6 ЛЕГКИЙ СТАРТ
			.fa.fa-bolt
			h4 2000 грн/мес
			ol
				li Тренажерный зал
				li Басейн
				li Сауна
			.btn-large.waves-effect.waves-light.hoverable ЗАКАЗАТЬ
