ul#slide-out.side-nav
	.background
		li
			a(href="#topp" data-target="menu").waves-effect.hoverable
				span Главная
		li
			a(href="#photo" data-target="menu").waves-effect.hoverable
				span Фото
		li
			a(href="#ourtrener" data-target="menu").waves-effect.hoverable
				span Наши тренеры
		li
			a(href="#aboutus" data-target="menu").waves-effect.hoverable
				span О нас
		li
			a(href="#price" data-target="menu").waves-effect.hoverable
				span Цены


