.ourtreners
	background: #D2A93F
	justify-items: center
	height: 350px
	.content
		width: 70%
		color: #fff
		h2
			text-align: center
		.img
			width: 170px
			height: 170px
			border-radius: 100%
			overflow: hidden
		p
			margin-top: -150px
			width: 350px
			margin-left: 200px
		.carousel
			height: 220px !important
			.indicators
				height: 40px
